@{
  Layout = "~/Views/Shared/_layout.cshtml";
  ViewData["Title"] = "Login";
}
@model app.Areas.Identity.Models.loginUser

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
<p>Welcome @Model.UserName</p>


