@{

  ViewData["Title"] = "Powershell";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
<p>Test .Net core application</p>
</div>
<div>
  <form action="/Powershell/List" >
    <label for="dname">Powershell packages Name</label>
    <input type="text" id="dname" name="powershellname" placeholder="docker:latest ..">

  
    <input type="submit" value="Submit">
  </form>
</div>
